<%= form_with url: user_gossips_path do |form| %>
  <%= form.text_field :title %>
  <%= form.text_field :content %>
  <%= form.submit %>
<% end %>


<% if @gossip.errors.any? %>
  <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @gossip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

